input[type=text] {
  border: 0;

}

input[type=text]:focus {
  border: 0;
}

h4 {
  font-size: 1.4rem;
  text-align: center;
}

.w3-green {
  background: #1977cc;
  border: 0;
  padding: 8px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
}

.w3-red {
  background: #1977cc;
  border: 0;
  padding: 8px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 5px;
}
/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

#myhomepage {
  padding-top: 75px;
  padding-right: 100px;
}

/* Remove margins and padding from the list */
#myUL {
  margin: 10px 10%;
  padding: 0;
  margin-bottom: 0;
}

/* Style the list items */
#myUL > li {
  cursor: pointer;
  position: relative;
  top: 10px;
  padding: 20px 8px 4px 10px;
  text-align: center;
  background: #e5ecdde1;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
#myUL > li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
#myUL > li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
#myUL > li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

#myhomepage {
  margin-left: 250px;
  transition: all 0.3s ease-in-out;
}

/* Define the main content's position when the sidebar is active */
#myhomepage.active {
  margin-left: 0;
}
.tag-container {
  display: flex;
  padding: 30px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  background-color: #2b1e1e;
  color: white;
}

.close:hover {
  background-color: #643d3d;
  color: white;
}

/* Style the header */
.header {
  background-color: #fff;
  padding: 10px 40px;
  margin-bottom: 30 !important;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
width: 100%;
height: 50px;
line-height: 60px;
}

.myheading {
color: #0c0c0f;
font-family: Helvetica, "Open Sans", Arial, sans-serif;
font-size: 32px;
font-weight: bold;
background-image: linear-gradient(to right, #004C99, #ff6666);

display: flex;
font-size: 32px;
font-weight: 600;
letter-spacing: 1px;
text-transform: uppercase;
width: 300px;
text-align: center;
margin: auto;
white-space: nowrap;
padding-bottom: 50px;
padding-top: 20px;
background-clip: text;
color: transparent;
-webkit-background-clip: text;
flex-direction: column;
align-items: center;
justify-content: center;
}
.myheading:before,
.myheading:after {
background-color: #064c02;
content: "";
display: block;
height: 3px;
width: 275px;
margin-bottom: 5px;
}

.myheading:before {
background-color: #046e18;
}

.myheading:after {
margin-top: 5px;
}
#myInput {
position: relative;
margin: 0 auto;
margin-bottom: 3px;
margin-left: 40px;
border: solid 3px black;
border-radius: 5px;
width: 50%;
padding: 10px;
float: center;
font-size: 16px;
}

.myInput {
flex: 1;
display: inline-block;
margin: 0 auto;
margin-bottom: 3px;
margin-left: 85px;
border: solid 3px black;
border-radius: 10px;
width: 50%;
padding: 10px;
float: center;
font-size: 16px;
}
.addBtn {
padding: 10px;
display: inline-block;
width: 10%;
background: #d9d9d9;
vertical-align: middle;
color: #170411;
float: center;
text-align: center;
font-size: 18px;
cursor: pointer;
transition: 0.3s;
border-radius: 5px;
margin-left: 10px;
margin-right: 10px;
}

.submitBtn {
padding: 10px;
display: inline-block;
width: 5%;
background: #128216;
vertical-align: middle;
color: white;
float: center;
text-align: center;
font-size: 18px;
cursor: pointer;
transition: 0.3s;
border-radius: 5px;
margin-left: 10px;
margin-right: 10px;
}

@media only screen and (max-width: 768px) {
.addBtn {
width: 30%;
}
}

@media only screen and (max-width: 576px) {
.addBtn {
width: 50%;
}
}

.addBtn:hover {
background-color: #bedcf7;
}

@media only screen and (max-width: 768px) {
.submitBtn {
width: 30%;
}
}

@media only screen and (max-width: 576px) {
.submitBtn {
width: 50%;
}
}

.submitBtn:hover {
background-color: #0fb015;
}
#mybtn {
  content: "";
  position: relative;
  bottom: 0px;
  clear: both;
  display: block;
  margin: 40px auto;
  width: 20%;
  text-align: center;
}

#mybtn > button {
  background-color: #128216;
  /* Green */
  border: none;
  color: white;
  padding: 15px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* #mybtn:hover {
  background-color: #61c864;
} */

#drugtable {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 80%;
margin: auto;
max-width: 800px;
table-layout: fixed;
}

#drugtable td,
#drugtable th {
border: 1px solid #ddd;
padding: 8px;
text-align: center;
}

#drugtable tr:nth-child(even) {
background-color: #f2f2f2;
}

#drugtable tr:hover {
background-color: #999999;
}

#drugtable > th {
padding-top: 12px;
padding-bottom: 12px;
background-color: #00CC99;
color: #fff;
text-align: center;
}

#drugtable th:first-child,
#drugtable td:first-child {
text-align: center;
}

@media only screen and (max-width: 600px) {
#drugtable {
width: 100%;
margin-left: 0;
margin-right: 0;
}
}


#notediv {
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #ff0000;
  text-align: center;
  display:none;
}

#interactiondiv {
  padding-left: 125px;
  font-size: 30px;
  color: #000000;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#mydiv {
  color: #6a6969;
}

#loadingdiv {
  margin-top: 20px;
  font-size: 20px;
  color: #5a5a5a;
  text-align: center;
}
/* Style the tags */
#tag-section {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin-top: 20px;
margin-bottom: 10px;
}

.tag {
display: inline-block;
background-color: #bedcf7;
color: #170411;
padding: 3px 10px;
margin-right: 10px;
border-radius: 5px;
font-size: 16px;
margin-top: 3px;
width: fit-content;
}

.tag button {
margin-left: 5px;
background-color: #424242;
color: white;
border: none;
border-radius: 50%;
cursor: pointer;
font-size: 16px;
}

.tag button:hover {
background-color: #232222;
}

#dropdown {
  margin: 0;
  margin-bottom: 35px;
  border: solid 3px black;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  float: center;
}

#dropdown-input {
  margin: 0;
  margin-bottom: 35px;
  border: solid 3px black;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.dropdown-list {
    display: none;
  position: absolute;
        top: 100%;
        left: 25%;
  right: 0.5px;
  z-index: 1;
  width: 50.5%;
  height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #0e0e0e;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-list-item {
  padding: 10px;
  cursor: pointer;
  color:#0c0c0f
}

.dropdown-list-item:hover {
  background-color: #d0d3d3;
}

/* Animation for error label */
@keyframes slide-down {
0% {
transform: translateY(-100%);
}
100% {
transform: translateY(0);
}
}

@keyframes slide-up {
0% {
transform: translateY(0);
}
100% {
transform: translateY(-100%);
}
}

.alert.slide-down {
animation: slide-down 0.5s ease-out forwards;
}

.alert.slide-up {
animation: slide-up 0.5s ease-out forwards;
}

.back-to-top {
position: absolute;
bottom: 0;
right: 0;
margin-bottom: 0px;
margin-right: 20px;
}